.image{
    width: 220px;
}
.imageblock{
    display: flex;
    align-items: center;
    position: absolute;
}
.divblock{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-width: 350px;
    height: 250px;
}
.button
{
    height: 70px;
    width: 70px;
    border: none;
    border-radius: 50%;
    background-color: #eaece5;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media print{
    .button
    {
        visibility: hidden;
    }
}

@media (max-width: 510px) {
    .divblock{
        min-width: 270px;
        height: 250px;
    }
 }

 @media (max-width: 470px) {
    .cup {
        width: 400px;
    }
    .image{
        width: 200px;
    }
 }

 @media (max-width: 410px) {
    .divblock{
        min-width: 200px;
        height: 200px;
    }
    .image{
        width: 150px;
    }
 }

 @media (max-width: 350px) {
    .divblock{
        min-width: 150px;
        height: 150px;
    }
    .image{
        width: 130px;
    }
 }