.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.hero
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    min-width: 60%;
}
.hero_imformation
{
    text-align: center;
}

.site_discription
{
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    width: 50%;
}

span, ul, li{
    font-size: 20px;
    line-height: 36px;
}

h1, h2{
    padding: 0px;
    margin: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #323330;
}

.photo
{
    height: 300px;
    border-radius: 100%;
}

@media (max-width: 768px) {
    .hero
    {
        display: flex;
        flex-direction: column;
        height: 500px;
        min-width: 60%;
    }
    .site_discription
    {
        font-size: 22px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        width: 90%;
    }
 }